In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,mean_squared_error

In [2]:
df=pd.read_csv(r"D:\Projects_Internship\Car Evaluation\car_evaluation.csv")

In [3]:
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [4]:
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']


df.columns = col_names

col_names

['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

In [5]:
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [6]:
df = pd.get_dummies(df,columns=["buying",
"maint","doors","persons","lug_boot","safety"])

In [7]:
df=df.rename(columns={"class":"target"})

In [8]:
le=LabelEncoder()

y=le.fit_transform(df["target"])
X = df.drop(['target'], axis=1)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [10]:
X_train.shape, X_test.shape

((1157, 21), (570, 21))

In [11]:
max_depth = 5
clf_gini = DecisionTreeClassifier(criterion='gini', max_depth=max_depth, random_state=0)
# clf_gini = DecisionTreeClassifier(criterion='gini', random_state=0)

# fit the model
clf_gini.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=5, random_state=0)

In [12]:
y_pred_gini = clf_gini.predict(X_test)

In [13]:
mean_squared_error(y_test, y_pred_gini)

0.6912280701754386

In [15]:
print('Model accuracy score with criterion gini index: {0:0.4f}'. format(accuracy_score(y_test, y_pred_gini)))

Model accuracy score with criterion gini index: 0.8404

In [16]:
print('Test set score: {:.4f}'.format(clf_gini.score(X_test, y_test)))

Test set score: 0.8404